<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<div id="callbacks-list" class="template">
<h1>Listing callbacks</h1>

<div class='row'>
  <div class='col-md-3'>
    <strong>Created</strong>
  </div>
  <div class='col-md-9'>
    <strong>Content</strong>
  </div>
</div>
<hr/>
<% @callbacks.each do |callback| %>
  <div class='row'>
    <div class='col-md-3'>
      <%= link_to callback.created_at, callback %>
    </div>
    <div class='col-md-9'>
      <pre><code class='prettyprint json'>
        <%= callback.content.truncate(75) %>
      </code></pre>
    </div>
  </div>
<% end %>

<%= paginate @callbacks, theme: 'twitter-bootstrap-3' %>

</div>
