<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<h3>Success</h3>
<h4>ID: <%= link_to @callback.pa_request.cmm_id, staff_pa_request_path(@callback.pa_request) if @callback.pa_request %></h4>

<h4>Content:</h4>
<div class='row'>
  <div class='col-md-12'>
    <pre><code class='json prettyprint'>
      <%= json_pp(@callback.content) %>
    </code></pre>
  </div>
</div>
