<div class='row'>
  <div class="drug-name col-md-8">
    <%= @prescription.drug_name %>
    <%= hidden_field :prescription, :drug_number %>
    <%= hidden_field :prescription, :drug_name %>
  </div>
</div>
