<% if @substituted_drug %>
  <div class='row'>
    <div class="col-md-12">
      <span class="badge">Substitution</span><%= " #{ @indicator_prescription.drug_substitution_help_message}" %>
    </div>
  </div>
<% end %>
