<table class="table">
  <thead>
    <th>Fax Number</th>
    <th>Actions</th>
  </thead>
  <tbody>
  <%- credentials.each do |credential| %>
    <tr>
      <td><%= credential.fax %></td>
      <td><%= link_to 'Remove', user_credential_path(credential.user, credential), method: :delete, class: 'btn btn-default' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
