<div class='form-group nested-fields'>
  <%= f.label :fax, "Fax", class: 'control-label col-md-2' %>
  <div class="col-md-6">
    <%= f.text_field :fax, class: 'form-control', data: {mask: '999-999-9999'}, placeholder: '800-555-5555' %>
  </div>
  <%= link_to_remove_association "Remove Fax", f %>
</div>
