<div class="form-group">
  <%= builder.label field_label, class: 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= builder.text_field field_name, defined?(options) ? options : {class: 'form-control'} %>
  </div>
</div>
