<div id="form-block">
  <form enctype="<%= form_type(@forms[form_name.to_sym]) %>" id="<%= form_name %>" role="form">
    <div class='col-md-7'>
      <% question_sets.each do |question_set| %>
        <%= render partial: "question_set", locals: { question_set: question_set, form_name: form_name, data: data } %>
      <% end %>
    </div>

    <div class='col-md-3 col-md-offset-2' id='actions'>
      <%= render partial: "actions", locals: { actions: actions } %>
    </div>
  </form>
</div>

